.env
.env.*
*.json
!package.json
!package-lock.json
!tsconfig*.json
!frontend/package*.json
!frontend/tsconfig*.json
.git/
.gitignore
__pycache__/
*.pyc
*.pyo
*.pyd
node_modules/
frontend/node_modules/
.venv/
venv/
dist/
build/
.gcloud/
.DS_Store
*.log
