# Environments and Secrets
.env
.env.*
!example.env
!*.env.example
*.json
!package.json
!package-lock.json
!tsconfig*.json
!frontend/package*.json
!frontend/tsconfig*.json

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
.pytest_cache/

# Node & Frontend
node_modules/
frontend/node_modules/
dist/
build/
.npm/

# Cloud and System
.gcloud/
.DS_Store
*.log
